# Backend node modules
node_modules/

# Frontend node modules
client/node_modules/

# React build output
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Optional OS files
.DS_Store
Thumbs.db