#ulmenu {
    display: flex;
    flex-direction: column;
   justify-content: baseline !important;
   align-items: center;
   background-color: white;
   color: black;
   width: 100%;
   height: 100%;
   
    
}
#ulmenu:hover{
    color: aqua;
}
#ulmenu li{

    margin-bottom: 20px;
    
    
}