#mysearch{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;    
    margin-bottom: 18px;
}
#mysearch li a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;
    width: 100vw;
}
#mysearch li:hover{
    background-color:aquamarine;
    cursor: pointer;
}
#mysearch li img{
    width: 240px;
    height: 250px;
    margin-right: 100px;
}
#mysearch li:hover  img{
    box-shadow: 0 0 25px black;
}
#mysearch li div h2{
    color: black;
}
#mysearch li div{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
@media (max-width: 500px) {
 #mysearch{

    overflow-y: scroll;
    background-color: white;
    font-size: 16px;
    margin-bottom: 2px;
}
#mysearch li a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100vw;
}

#mysearch li img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#mysearch li:hover  img{
    box-shadow: 0 0 25px black;
}
#mysearch li div h2{
    font-size: 10px;
}
#mysearch li div h1{
    font-size: 16px;
}
#mysearch li div{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 16px;
}   
}