div#homemanagecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
#dul{
    width: auto;
}
    

ol#manages{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}



#extarline{
    padding: 10px;
}
